@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Willy Gilbert<br />
    Winnipeg, MB.
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">willyluciano@gmail.com</a>
</address>