@{
    ViewBag.Title = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>BlogAPP</h1>
        <p class="lead">This is a website similar to StackOverflow, where users can ask and answer questions regarding a certain topic.</p>
        <p>Please, register or login</p>
    </div>
}
else
{
    Response.Redirect("~/Questions/Index", false);
}